<!--
 * @Description: 
 * @Version: 1.0
 * @Author: DaLao
 * @Email: dalao_li@163.com
 * @Date: 2021-12-31 12:44:48
 * @LastEditors: DaLao
 * @LastEditTime: 2022-01-10 12:54:30
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
</head>

<body>
    <ul class="breadcrumb">
        <li><a href="/">开始抽签</a>/</li>
        <li class="active">导入数据/</a></li>
        <li><a href="/log">抽签记录</a></li>
    </ul>
    <div class="container">
        <div class="input-group mb-3">
            <div class="alert alert-danger">注意!新上传的文件会覆盖之前的数据</div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">仅限Excel</span>
            </div>
            <label for="name"></label>
            <input id="file" class="btn btn-info" name="file" type="file" />
        </div>

        <div class="input-group mb-3">
            <button type="button" onclick="upload()" class="btn btn-primary">提交</button>
        </div>

        <div>
            <table class="table table-hover" id="infoTable">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>工作单位</th>
                        <th>职称</th>
                        <th>电话</th>
                        <th>类别</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.sex }}</td>
                        <td>{{ i.department }}</td>
                        <td>{{ i.rank }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.identify }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
<script>
    function upload() {
        const f = document.getElementById("file").files[0]
        if (!f) {
            alert("请选择上传文件")
            return
        }
        var form = new FormData()
        form.append("file", f)
        $.ajax({
            async: false,
            type: "POST",
            url: "/upload",
            data: form,
            dataType: "JSON",
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                if (data.code == 1) {
                    alert("上传成功")
                    location.reload()
                }
                if (data.code == -1) {
                    alert("上传文件不是Excel文件!请重试")
                }
            },
            error: function () {
                alert("网络异常，请稍后重试")
            }
        })
    }


    $('#infoTable').bootstrapTable({
        //是否显示分页条
        pagination: true,
        //首页页码
        pageNumber: 1,
        //一页显示的行数
        pageSize: 10,
        //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
        paginationLoop: false,
        //选择每页显示多少行，数据过少时可能会没有效果
        pageList: [10, 50, 100],
        //启用关键字搜索框
        search: true,
    })
</script>

</html>