<!--
 * @Description: 
 * @Version: 1.0
 * @Author: DaLao
 * @Email: dalao_li@163.com
 * @Date: 2022-01-26 22:00:28
 * @LastEditors: DaLao
 * @LastEditTime: 2022-02-05 23:24:02
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-table.min.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-table.min.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages',page='main') }}">
                    <button type="button" class="btn btn-primary btn-lg">开始抽签</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages',page='data') }}">
                    <button type="button" class="btn btn-warning btn-lg">导入数据</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages',page='log') }}">
                    <button type="button" class="btn btn-success btn-lg">抽签记录</button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pages',page='') }}">
                    <button type="button" class="btn btn-danger btn-lg">退出登陆</button>
                </a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>