<!--
 * @Description: 
 * @Version: 1.0
 * @Author: DaLao
 * @Email: dalao_li@163.com
 * @Date: 2021-12-31 13:06:30
 * @LastEditors: DaLao
 * @LastEditTime: 2022-01-01 17:03:37
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
</head>

<body>
    <ul class="breadcrumb">
        <li><a href="/">开始抽签</a>/</li>
        <li><a href="/data">导入数据</a>/</li>
        <li class="active">抽签记录</a></li>
    </ul>

    <table class="table table-hover" id="infoTable">
        <thead>
            <tr>
                <th>时间</th>
                <th>类别</th>
                <th>人数</th>
                <th>名单</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
</body>
<script>
    $('#infoTable').bootstrapTable({
        //是否显示分页条
        pagination: true,
        //首页页码
        pageNumber: 1,
        //一页显示的行数
        pageSize: 10,
        //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
        paginationLoop: false,
        //选择每页显示多少行，数据过少时可能会没有效果
        pageList: [10, 50, 100],
        //启用关键字搜索框
        search: true,
    })
</script>

</html>