<!--
 * @Description: 
 * @Version: 1.0
 * @Author: DaLao
 * @Email: dalao_li@163.com
 * @Date: 2022-01-17 23:58:08
 * @LastEditors: DaLao
 * @LastEditTime: 2022-01-25 21:12:53
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-table.min.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-table.min.js') }}"></script>
</head>

<body>
    <div class="container" style="width: 40rem;">

        <div class="card mt-3">
            <div class="card-body">
                <h1 class="card-title text-center"><strong>灵石县行政审批服务管理局</strong></h1>
                <h4 class="card-text text-center">专家库系统</h4>
                {% if status == -1%}
                <div class="alert alert-danger">
                    <strong>用户名或密码错误!</strong>
                </div>
                {% endif %}
                <form action="/" method="POST">
                    <div class="input-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">用户</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name" required />
                    </div>

                    <div class="input-group input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">密码</span>
                        </div>
                        <input type="password" class="form-control" id="pwd" name="pwd" required />
                    </div>
                    <center>
                        <input type="submit" class="btn btn-success btn-lg" value="登陆"></input>
                        <input type="reset" class="btn btn-danger btn-lg" value="清空"></input>
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>