<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>灵石县行政审批服务管理局-专家库系统</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-table.min.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-table.min.js') }}"></script>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='a.jpg') }}")
        }
    </style>
</head>

<body>
    <div class="container" style="width: 40rem;">

        <div class="card mt-3">
            <div class="card-body">
                <h1 class="card-title text-center"><strong>灵石县行政审批服务管理局</strong></h1>
                <h4 class="card-text text-center">专家库系统</h4>
                <div class="alert alert-info">
                    <h6 class="card-text text-center"><strong>更新时间: </strong>2022-6-9 | <strong>当前IP: </strong>{{ ip }}
                    </h6>

                </div>
                {% if status == -1 %}
                <div class="alert alert-danger">
                    <strong>用户名或密码错误!</strong>
                </div>
                {% endif %}
                <form action="/" method="POST">
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">用户</span>
                        </div>
                        <label for="name"></label><input type="text" class="form-control" id="name" name="name"
                            required />
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">密码</span>
                        </div>
                        <label for="pwd"></label><input type="password" class="form-control" id="pwd" name="pwd"
                            required />
                    </div>
                    <div style="text-align: center;">
                        <input type="submit" class="btn btn-success btn-lg" value="登陆" />
                        <input type="reset" class="btn btn-danger btn-lg" value="清空" />
                    </div>
                </form>
                <br>

            </div>
        </div>
    </div>
</body>