<!--
 * @Description: 
 * @Version: 1.0
 * @Author: DaLao
 * @Email: dalao_li@163.com
 * @Date: 2021-12-31 08:08:19
 * @LastEditors: DaLao
 * @LastEditTime: 2022-01-25 22:55:35
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">开始抽签</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/data">导入数据</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log">抽签记录</a>
            </li>
        </ul>
    </nav>


    <div class="container mb-3">
        <form id="addForm" action="" onsubmit="return false;">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">事项名称</span>
                </div>
                <input type="text" class="form-control" id="name" name="name" required />
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">受理时间</span>
                </div>
                <input type="datetime-local" class="form-control" id="time" name="time" />
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">申请单位</span>
                </div>
                <input type="text" class="form-control" id="department" name="department" />
                <div class="input-group-prepend">
                    <span class="input-group-text">联系人</span>
                </div>
                <input type="text" class="form-control" id="people" name="people" />
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">专家评审内容</span>
                <textarea class="form-control" rows="3" id="word1" name="word1"></textarea>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">评审专家、领域等事项</span>
                <textarea class="form-control" rows="3" id="word2" name="word2"></textarea>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">组织时间</span>
                </div>
                <label for="name"></label>
                <input type="datetime-local" class="form-control" id="startTime" name="startTime" placeholder="开始时间">
                <input type="datetime-local" class="form-control" id="endTime" name="endTime" placeholder="结束时间"
                    value="local">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">人员分类</span>
                <select class="form-control" name="identify" id="identify">
                    <option value="水务类">水务类</option>
                    <option value="工程消费类">工程消费类</option>
                    <option value="卫生健康类">卫生健康类</option>
                    <option value="食品药品类">食品药品类</option>
                    <option value="项目评审类">项目评审类</option>
                    <option value="农业类">农业类</option>
                    <option value="交通类">交通类</option>
                    <option value="教育类">教育类</option>
                    <option value="电力类">电力类</option>
                    <option value="工业类">工业类</option>
                    <option value="化工类">化工类</option>
                    <option value="能源类">能源类</option>
                    <option value="市政燃气类">市政燃气类</option>
                    <option value="文物保护、勘探类">文物保护、勘探类</option>
                    <option value="环境保护、节能审查类">环境保护、节能审查类</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">抽取人数</span>
                <select class="form-control" name="sum" id="sum">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <button type="button" class="btn btn-success" onclick="select('1')">抽取</button>
                <button type="button" class="btn btn-warning" onclick="clear()">清除</button>
            </div>

            <div class="alert alert-primary" id="result">抽取结果:<span></span></div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">补充抽取人数</span>
                </div>
                <select class="form-control" name="sum2" id="sum2">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <button type="button" class="btn btn-danger" onclick="select('2')">补充抽取</button>
            </div>

            <div class="alert alert-success" id="result2">补充抽取结果:<span></span></div>

            <div class="input-group mb-3">
                <span class="input-group-text">备注</span>
                <textarea class="form-control" rows="3" id="word3" name="word3"></textarea>
            </div>
        </form>
        <button type="button" class="btn btn-warning" onclick="add()">提交</button>
    </div>
</body>

<script>
    function select(status) {
        const d = {}
        if (status == '1') {
            d['identify'] = $('#identify').val()
            d['sum'] = $('#sum').val()

        }
        if (status == '2') {
            const sum = $('#sum2').val()
            const text = document.getElementById('result').innerText
            if (sum2 == '0') {
                alert('请选择补抽人数')
                return
            }
            if (text == '抽取结果:') {
                alert('请先抽签')
                return
            }
            d['identify'] = $('#identify').val()
            d['sum'] = sum
            d['text'] = text.split(':')[1]

        }
        $.post('/select/' + status, JSON.stringify(d), function (data) {
            if (data.code == -1) {
                alert('暂无该类专家，请确认')
                return
            }

            if (data.code == -2) {
                alert('该类专家已被抽取完')
                return
            }
            if (data.code == 0) {
                alert('补充抽取人数小于可抽取人数，已全部抽取')
            }

            if (status == '1') {
                document.getElementById('result').innerText = '抽取结果:' + data.result
            }
            if (status == '2') {
                document.getElementById('result2').innerText = '补充抽取结果:' + data.result
            }

        })
    }


    function clear() {
        document.getElementById('result').innerText = '抽取结果:'
    }


    function add() {
        const d = {}
        const t = $('#addForm').serializeArray()
        $.each(t, function () {
            d[this.name] = this.value
        })
        var r = document.getElementById('result').innerText
        var r2 = document.getElementById('result2').innerText

        if (r == '抽取结果:') {
            alert("请抽签")
            return
        }
        d['r'] = r.split(':')[1]
        d['r2'] = r2.split(':')[1]

        $.post('/add', JSON.stringify(d), function (data) {
            if (data.code == 1) {
                alert('提交成功')
                location.reload()
                return
            }
        })
    }
</script>

</html>